<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="main.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:replace="~{nav.html :: navbar}"></div>
<div class="card" th:each="i : ${items}">
    <img src="https://placehold.co/300">
    <div>
        <h4>
            <a th:href="@{/detail/{id}(id=${i.id})}" th:text="${i.title}">바지</a>
        </h4>
        <p th:text="${i.price}">7억</p>
        <a th:href="@{/change/{id}(id=${i.id})}">✏️</a>
        <span th:onclick="deleteItem([[${i.id}]])">🗑️</span>
    </div>
</div>
<script>
    function deleteItem(id) {
        fetch(`/item/${id}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                alert('삭제완료');
                window.location.reload();  // Reload the page to reflect changes
            } else {
                alert('삭제 실패');
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>
</body>
</html>
